<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    {{> links}}
</head>

<body>
    {{> navbar}}
    <section class="py-3">
        <div class="container">
            {{#each questions}}
            <a href="/question/get/{{this.slug}}" class="badge badge-secondary m-1 text-start">
                <span class="fs-6 text-wrap lh-base">{{this.question.title}}</span>
            </a>
            {{/each}}
        </div>
    </section>

    {{> scripts}}
</body>

</html>